In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
dataset_folder_path = "../../dataset"
if os.path.exists(dataset_folder_path):
    review_files = os.listdir(dataset_folder_path)

dataset2 = pd.DataFrame()

for file_name in review_files:
    file = pd.read_csv(f"{dataset_folder_path}/{file_name}",sep=',', header=0)
    random_sample = file.sample(n=3000)
    dataset2 = dataset2.append(random_sample)
    
print(dataset2.shape)

(54000, 11)

In [12]:
dataset2 = dataset2["review_text"]

In [13]:
dataset2.shape

(54000,)

In [14]:
dataset2

15970                                                   good
22740                   This app is exceptionally wonderful!
16619             Best online education and research AI app.
13019                                          very use full
30060                                   Best answer gives me
                                 ...
561173     It is very usefull app for share events and se...
743014                                         Its so superb
560846                                                  Good
1947814                                       Mahendra Singh
271601                                                  Nice
Name: review_text, Length: 54000, dtype: object

In [15]:
initial_values = [0 for _ in range(len(dataset2.values))]
dataset2 = {
    'review_text' : dataset2.values,
    "F":initial_values,
    "BR":initial_values,
    "AU":initial_values,
    "FI":initial_values,
    "IR":initial_values,
    "A":initial_values,
    "L":initial_values,
    "LF":initial_values,
    "MN":initial_values,
    "O":initial_values,
    "PE":initial_values,
    "SC":initial_values,
    "SE":initial_values,
    "US":initial_values,
    "PO":initial_values
}

In [16]:
dataset2 = pd.DataFrame(dataset2)

In [17]:
dataset2.shape
dataset2

,review_text,F,BR,AU,FI,IR,A,L,LF,MN,O,PE,SC,SE,US,PO
0,good,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,This app is exceptionally wonderful!,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Best online education and research AI app.,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,very use full,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Best answer gives me,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53995,It is very usefull app for share events and se...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53996,Its so superb,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53997,Good,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53998,Mahendra Singh,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53999,Nice,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
dataset2.to_csv('output/dataset3.csv', sep=',', header=True, index=False, quotechar = '"', doublequote=True)